[Unit]
Description=Stream Checker
After=network.target

[Install]
WantedBy=multi-user.target

[Service]

##############################################################################
## Core requirements
##

Type=simple

##############################################################################
## Package maintainers
##

User=streamcheck
Group=streamcheck

# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full

# Prevent accessing /home, /root and /run/user
ProtectHome=true

# Start main service
ExecStart=/usr/local/bin/stream-check

Restart=always
RestartSec=5s
